.container{
    display: flex;
    position: relative;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.flower {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: var(--pink);
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 0.9rem;
    color: var(--themeRed);
    font-weight: bold;
}

.containerText {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 4rem;
}

.containerText>:nth-child(2){
    font-size: 7rem;
}

.containerText>:nth-child(3){
    position: absolute;
    top: 16rem; 
    left: 22.5rem;
}

.containerText>:nth-child(4) {
    margin-top: -6.1rem;
    margin-left: 6rem;
}

.containerText>:nth-child(5) {
    margin-top: -3.7rem;
    margin-left: 10.5rem;
}

.right {
    position: relative;
}

.imageContainer {
    width: 38rem;
    position: relative;
    top: -5rem;
    left: 25rem;

}

.sideimage {
    display: flex;
    gap: 1.5rem;
    background-color: white;
    box-shadow: var(--shadow);
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 5rem;
    right: -20rem;
    width: max-content;
}

.sideimage>:nth-child(1) {
    width: 6rem;
    height: 6.5rem;
    overflow: hidden;
    border-radius: 0.5rem;
}

.sideimage>:nth-child(2) {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 2rem;
}

.sideimage:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.details:hover {
    transform: scale(1.1);
}