.heading {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.heading>:nth-child(1){
    color: var(--themeRed);
    font-size: 2rem;
}

.heading>:nth-child(2) {
    font-size: 2rem;
}

.heading>:nth-child(3) {
    color: var(--themeRed);
    font-size: 1.2rem;
}

.features {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imageContainer {
    width: 30rem;
    height: 20rem;
}

.services>:nth-child(2) {
    font-size: 1rem;
    font-weight: bold;
    color: var(--gray);
    margin-top: -1rem;
    margin-right: 6rem;

}